<footer >
<div id="foot" class="container-fluid fixed-bottom">
    <div class="row">
        <div class="col text-center mt-0">
            <p class="lead">Created by | {{name}}</p>
        </div>
    </div>
</div>

</footer>
