<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
</head>
<body>
   {{>header}}
    

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
           <h1 class="text-center pt-3">About</h1>
        <p class="lead text-center pt-3">This application lets you find the nearest trail based on your zipcode.</p>

        </div>
      
      <div id="aboutPic"></div>
      </div>
    </div>
   








{{>footer}}
{{>script}}
</body>
</html>